<div class="bs-callout bs-callout-info">
  <h4>イベント作成完了</h4>
  <p>以下の<code>URL</code>を他の人にメールなどで知らせてください。</p>
<div>
  <%= link_to show_event_url(@event.url_param), show_event_url(@event.url_param) %>
</div>
